table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

td, th {
	border: 1px solid red;
}

.add {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	padding: 0;
	width: 70px;
}

button a {
	display: block;
	color: #000000;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

.add * {
	margin: 5px auto;
	width: 35%;
}